.col1 {
  width: 25%;
  float: left;
  padding: 20px;
  margin: 25px;
}

.col1 p {
  text-align: justify;
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

.heading {
  text-align: center;
}

#first {
  background-color: #FF7F50;
}

#second {
  background-color: #00FFFF;
}

#third {
  background-color: #F6546A;
}
